@tailwind utilities;

.docs-search > span {
  width: 100%;
}

/* Hack to make the TOC links look better by adjusting kerning */
article > main + div a.font-semibold {
  font-weight: 500;
  letter-spacing: -0.01rem;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
}

@layer utilities {
  .grid-dark {
    --len: 10;
    --time: 5s;
    --grid-size-inline: 5em;
    --grid-size-block: 2.5em;
    --grid-color: #000;
    --grid-stroke: 1px;
    opacity: 0.05;
    mix-blend-mode: hard-light;
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;
    height: 100%;
    filter: invert(1);
    z-index: -999;
    pointer-events: none;
  }

  .grid-light {
    --len: 10;
    --time: 5s;
    --grid-size-inline: 5em;
    --grid-size-block: 2.5em;
    --grid-color: #000;
    --grid-stroke: 1px;
    opacity: 0.05;
    mix-blend-mode: hard-light;
    position: absolute;
    top: -30%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -999;
    pointer-events: none;
  }

  .base-dark {
    z-index: -999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: -50%;
    width: 200%;
    background-position-y: 0px;
    background-image: repeating-linear-gradient(
      90deg,
      var(--grid-color, white) 0%,
      transparent calc(1px + var(--grid-stroke, 0px)),
      transparent var(--grid-size-inline),
      var(--grid-color, white)
        calc(var(--grid-size-inline) + 1px + var(--grid-stroke, 0px))
    );
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(-1px);
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );
  }

  .base-light {
    z-index: -999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: -50%;
    width: 200%;
    background-position-y: 0px;
    background-image: repeating-linear-gradient(
      90deg,
      var(--grid-color, white) 0%,
      transparent calc(1px + var(--grid-stroke, 0px)),
      transparent var(--grid-size-inline),
      var(--grid-color, white)
        calc(var(--grid-size-inline) + 1px + var(--grid-stroke, 0px))
    );
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(-1px);
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );
  }

  .grid-line {
    --n-start: calc((var(--i) + 1) / var(--len));
    --n-end: calc((var(--i) + 2) / var(--len));
    --ty-start: calc(
      var(--i) * calc(var(--grid-size-block) * ((var(--i) + 1) / var(--len)))
    );
    --ty-end: calc(
      (var(--i) + 1) *
        calc(var(--grid-size-block) * ((var(--i) + 2) / var(--len)))
    );
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    height: 1px;
    width: 100%;
    border: var(--grid-stroke) solid var(--grid-color);
    transform: scaleY(var(--sy-start)) translateY(var(--ty-start));
    animation: move var(--time) infinite linear;
  }
  @media (prefers-reduced-motion: reduce) {
    .line {
      animation-play-state: paused;
    }
  }
  @keyframes move {
    0% {
      opacity: calc(var(--n-start));
      transform: translate3d(0, var(--ty-start), 0);
    }
    100% {
      opacity: calc(var(--n-end));
      transform: translate3d(0, var(--ty-end), 0);
    }
  }
}

#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dark #carbonads .carbon-poweredby {
  background: #1e2021;
}

.dark #carbonads {
  display: flex;
  max-width: 360px;
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.5);
}

.carbon-shoutout {
  display: flex;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  flex-direction: column;
  max-width: 330px;
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
}

.carbon-blurb {
  padding: 1em;

  font-size: 12px;
  line-height: 1.4;
}
